h1 {
  font-size: 30px;
}

.about {
  width: 60%;
  margin: auto;
}

.about-img {
  width: 20em;
  height: 20em;
  box-shadow: 10px 10px 5px grey;
}

.qualifications {
  margin-top: 100px;
  width: 50%;
  margin: auto;
  background: #f7ebeb;
  box-shadow: 0 15px 40px rgba(37, 32, 36, 0.555);
  box-sizing: border-box;
  padding: 1.5rem 2rem;
}

.logo {
  float: left;
  padding: 0 10px;
  text-transform: uppercase;
  font-family: "Sorts Mill Goudy", serif;
}

.ulstyle {
  margin-top: 25px;
}

.ulstyle li {
  padding: 5px;
  display: block;
  float: none;
}

.border {
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .about-img {
    width: 10em;
    height: 10em;
  }

  .row {
    display: block;
    margin: 5% auto;
  }

  .about {
    width: 80%;
  }

  .qualifications {
    width: 80%;
  }
}
